@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Oxygen:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
button,
input,
label,
select,
body {
  font-family: var(--font-family);
}
